{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-3">Pole plurimédia Lafayette</h1>
  <p class="lead">Gestion de stock de l'imprimerie du lycée Lafayette.</p>
  <img src="http://pole-plurimedia.fr/clermont/wp-content/uploads/2016/09/PP_img_contact_890x285.png" width="100%"/>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

{% endblock %}