{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<div class="container">
    <h2>Historique des modifications du produit {{ product.name }}</h2>
    <table class="table table-striped">
        <tr class="table-header">
            <th>Date</th>
            <th>Intitulé</th>
            <th>Utilisateur</th>
        </tr>
        {% for history in product.histories %}
            <tr>
                <td>{{ history.createdAt|date("d/m/Y") }}</td>
                <td>{{ history.title }}</td>
                <td>{{ history.user.username }}</td>              
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}