.pagination {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.test {
    color: red;
}

.error-header {
    display: inline-block;
}

.error-img {
    text-align: center;
}

.container {
    margin-bottom: 5px;
}

.table-header {
    font-weight: bold;
}

.input-group {
    width: 100%;
}

.input-group-btn {
    display: block;
}

#scanner-input {
    width: 100%;
}

#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
